<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aichat.modules.user.mapper.AppUserMapper">

    <select id="selectByUsername" resultType="com.example.aichat.modules.user.entity.AppUserDO">
        SELECT *
        FROM app_user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="selectByEmail" resultType="com.example.aichat.modules.user.entity.AppUserDO">
        SELECT *
        FROM app_user
        WHERE email = #{email}
        LIMIT 1
    </select>

    <select id="selectByMobile" resultType="com.example.aichat.modules.user.entity.AppUserDO">
        SELECT *
        FROM app_user
        WHERE mobile = #{mobile}
        LIMIT 1
    </select>

</mapper>
